.navLogo{
  color:var(--main-color)
}
.navbarNav {
  font-size: 14px;
  font-weight: 500;
}
.collapseUl {
  font-size: 14px;
  font-weight: 500;
}
.activeLink {
  color: var(--main-color);
  border-bottom: 2px solid  var(--main-color);
}
.navLink:hover{
  color:var(--main-color);
}

.searchInput {
  background-color: #1a1115 ;
  font-size: 12px;
  width: 240px;
  box-shadow: none ;
  color:#4a4b4c;
}
.searchSvg {
  color: #6c757d;
  width: 16px;
  height: 16px;
}
.svgStyle {
  width: 20px;
  height: 20px;
}
.spanStyle {
  color: var(--main-color);
}

.searchInput:focus {
  background-color: rgba(255, 255, 255, 0.12);
  border-color: #ff5e14;
  width: 310px;
  box-shadow: 0 0 15px rgba(255, 94, 20, 0.2);
}
